body{
    background-color: aqua;
}
form{
    width: 250px;
    margin: 100px auto;
    background-color: aliceblue;
    padding: 40px;
    border: 2px solid #111;
    border-radius: 10px;
    text-align: center;

}
button{
    background-color: green;
    padding: 10px;
    color: white;
    border-radius: 10px;
    border:1px solid lightgreen;
    margin: 10px;
}
.card-body{
    background-color: brown;
}